:root {
  --tertiary-color: hsl(0, 0%, 98%);
  --primary-color: hsl(0, 0%, 41%);
  --secondary-color: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  height: 100vh;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 1rem 2rem;
  background-color: var(--tertiary-color);
}

/* Header */
header {
  font-size: 0.8rem;
}
nav {
  vertical-align: top;
}
nav,
ul,
aside[role="form"] {
  display: inline;
}

ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 1rem;
}

a:link,
a:visited {
  color: var(--primary-color);
}
/* 
a:hover {
}
a:active {
} */

a.active {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

aside:first-of-type {
  float: right;
}
aside:first-of-type li:nth-of-type(2) a {
  border: 0.13rem solid var(--primary-color);
  border-radius: 0.6rem;
  padding: 0.5rem;
}

#menu-img {
  display: none;
  float: right;
}
/* SunMenus */
.menu {
  position: relative;
}

.submenu {
  margin-top: 1rem;
  padding: 0.2rem 0;
  text-align: center;
  display: none;
  position: absolute;
  background-color: var(--tertiary-color);
  box-shadow: 0.2rem 0.2rem 1rem 1rem rgba(105, 105, 105, 0.1);
  border-radius: 0.5rem;
}

.submenu li {
  display: block;
  text-align: left;
  margin-bottom: 0.8rem;
}

#features {
  padding: 0.2rem;
  padding-bottom: 1rem;
  left: -4rem;
}

#features li {
  margin: auto;
}
#features li a {
  width: 100%;
  display: block;
}

#features img {
  text-align: center;
}
#features span {
  margin-left: 0.5rem;
}
#company {
  width: max-content;
  padding: 1rem;
  left: 0;
}

.menu:hover .submenu {
  display: block;
}

/* Content Section */

#content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-top: 2rem;
}

/* Main */
main {
  width: 60%;
  margin-top: 4rem;
  margin-right: 2rem;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}
.stand-out {
  display: block;
}
p {
  color: var(--primary-color);
  line-height: 1.4;
}

p:first-of-type {
  width: 80%;
}

#more {
  display: inline-block;
  padding: 0.8rem;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  font-weight: 700;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: 0.01rem solid var(--secondary-color);
}

#more:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: 0.05rem solid var(--primary-color);
}

p img {
  margin-right: 1.5rem;
}
/* Aside */
#content aside {
  width: 40%;
  text-align: right;
}

aside img {
  width: 25rem;
  height: 30.5rem;
}

/* Footer */
footer {
  margin: auto;
  padding: 0.5rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px) {
  body {
    padding: 0;
  }
  #content {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
  }
  main,
  #content aside {
    text-align: center;
    width: 100%;
    display: block;
  }

  main {
    margin-top: 2rem;
    padding: 0.3rem;
  }

  h1,
  p {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  .stand-out {
    display: inline;
  }

  p {
    font-size: large;
  }

  p:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  p img {
    margin-right: 0 !important;
    padding: 0.5rem;
    width: 20%;
    height: 2.3rem;
  }
  aside img {
    width: 100%;
    height: 20rem;
  }
}

@media screen and (max-width: 800px) {
  nav,
  aside[role="form"] {
    display: none;
  }

  #menu-img {
    display: inline-block;
  }
}
