:root {
  --tertiary-color: hsl(0, 0%, 98%);
  --primary-color: hsl(0, 0%, 41%);
  --secondary-color: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 1rem 2rem;
  background-color: var(--tertiary-color);
}

header {
  padding: 1rem;
  font-size: 0.8rem;
}
nav {
  vertical-align: top;
}
nav,
ul,
aside[role="form"] {
  display: inline;
}

ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 1rem;
}

a:link {
  color: var(--primary-color);
}
/* a:visited {
}
a:hover {
}
a:active {
} */

a.active {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

aside:first-of-type {
  float: right;
}
aside:first-of-type li:nth-of-type(2) a {
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.6rem;
  padding: 0.5rem;
}

/* Content Section */

#content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;
  padding-left: 1rem;
}

/* Main */
main {
  width: 60%;
  font-size: 1.1rem;
}

h1 {
  font-weight: 700;
  font-size: 4.3rem;
}

small {
  color: var(--primary-color);
}

#more {
  display: inline-block;
  padding: 0.8rem 1.3rem;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 2.9rem;
  border-radius: 0.6rem;
  font-weight: 700;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: 0.05rem solid var(--secondary-color);
}

#more:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: 0.05rem solid var(--primary-color);
}

p img {
  margin-right: 1.5rem;
}
/* Aside */
#content aside {
  width: 40%;
  text-align: right;
}

aside img {
  width: 24rem;
  height: 29rem;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
